html {
    font-size: 18px;
}

h1 {
    font-family: Snell Roundhand, cursive;
    text-align: center;
    color: rgb(255, 255, 255);
}

div,
h2,
h3 {
    text-align: center;
    color: rgb(68%, 29%, 29%, 1);
}

body {
    background-color: rgba(221, 205, 205, 0.872);
    text-align: justify;
}

div img {
    border: 8px dotted white;
    border-radius: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
    text-decoration: underline;
}